<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SnowLicenseManagerServer" value=""/>
    <add key="SnowInventoryServer" value=""/>
    <add key="SnowLicenseManagerDrive" value=""/>
    <add key="SnowInventoryDrive" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="SnowLogCollector" connectionString="Server=snow.crybaby.scot;User Id=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>