<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <!-- Server Names -->
    <add key="SnowLicenseManagerServer" value=""/>
    <add key="SnowInventoryServer" value=""/>

    <!-- Drive Letters -->
    <add key="SnowLicenseManagerDrive" value=""/>
    <add key="SnowInventoryDrive" value=""/>
    
    <!-- UNC paths for accessing remotely -->
    <add key="SnowLicenseManagerServerUNC" value=""/>
    <add key="SnowInventoryServerUNC" value=""/>
    
    <!-- Snow Paths (Default) -->
    <add key="SnowSoftwareLogs" value="Program Files\Snow Software\Logs\"/>
    <add key="SnowLicenseManagerWebLogs" value="Program Files\Snow Software\Snow License Manager\Web\Logs\"/>
    <add key="SnowInventoryAdminConsoleLogs" value="ProgramData\SnowSoftware\Inventory\AdminConsole\"/>
    <add key="SnowInventoryServerManagerLogs" value="ProgramData\SnowSoftware\Inventory\ServerManager\"/>
    <add key="SnowInventoryServerLogs" value="ProgramData\SnowSoftware\Inventory\Server\"/>
    
  </appSettings>
  <connectionStrings>
    <add name="SnowLogCollector" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>