<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${AppData}\Goosetuv\Snow Log Collector\Logs\slc_gui_" />
      <appendToFile value="true" />
      <datePattern value="yyyy-MM-dd\.lo\g" />
      <rollingStyle value="Date" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  
  <appSettings>
    
    <!-- Server Names -->
    <add key="SnowLicenseManagerServer" value=""/>
    <add key="SnowInventoryServer" value=""/>

    <!-- Drive Letters -->
    <add key="SnowLicenseManagerDrive" value=""/>
    <add key="SnowInventoryDrive" value=""/>
    
    <!-- UNC paths for accessing remotely -->
    <add key="SnowLicenseManagerServerUNC" value=""/>
    <add key="SnowInventoryServerUNC" value=""/>
    
    <!-- Snow Paths (Default) -->
    <add key="SnowSoftwareLogs" value="Program Files\Snow Software\Logs\"/>
    <add key="SnowLicenseManagerWebLogs" value="Program Files\Snow Software\Snow License Manager\Web\Logs\"/>
    <add key="SnowInventoryAdminConsoleLogs" value="ProgramData\SnowSoftware\Inventory\AdminConsole\"/>
    <add key="SnowInventoryServerManagerLogs" value="ProgramData\SnowSoftware\Inventory\ServerManager\"/>
    <add key="SnowInventoryServerLogs" value="ProgramData\SnowSoftware\Inventory\Server\"/>
    
  </appSettings>
  
  <connectionStrings>
    <add name="SnowLogCollector" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>